* {
    position: relative;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}

a {
    text-decoration: none;
    color:white;
}
body {
    background-color: black;
    color:white;
    margin:0;
    width: 100%;
    min-height: 100%;
    text-shadow: 0 0 2px black;
    text-align: start;
    overflow-y: auto;
    overflow-x: hidden;
}


.b {
    border:0;
}

.srodek {
    margin-left: auto;
    margin-right: auto;
}

.i {
    display: inline;
}

.widocznosc {
    display: inline !important;
}
::-webkit-scrollbar-thumb {
    background: #434343;
    border-radius: 16px;
    box-shadow: inset 2px 2px 2px hsl(0deg 0% 100% / 25%), inset -2px -2px 2px rgb(0 0 0 / 25%);
}

::-webkit-scrollbar-thumb:hover {
    background: #383838;
}

::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}


.wyszuk_znaj {
    position: fixed;
    width: 30%;
    min-height: 300px;
    max-height: 100%;
    left: 22%;
    background-color: rgb(14, 14, 13);
    border-radius: 28px;
    box-shadow: 0 0 1px green;
    top: 2%;
    animation: 2s powiad ease;
    padding: 8px;
}
aside {
    width: 0;
}

.wid {
    display: none !important;
}

body::-webkit-scrollbar {
    background-color: transparent;
}


@media screen and (max-width: 943px) {

    .wyszukaj {
        top:0;
    }
    #wyszukaj {
        top:64px;
    }
    .wszystkie {
        left:0 !important;
    }


    .wyszuk_znaj {
        top:68px;
        width: 100%;
    }

    .telefon {
        display: block !important;
    }
    .komputer {
        display: none !important;
    }
    /* menu */
.menu {
    position:fixed;
    width: 100%;
    height: 58px;
    background-color: transparent;
    padding: 4px;
    left:0;
    top:0;
    z-index: 8;
    animation: 1s pokazmenu ease;
    text-align: start;
}

.menu h1 {
    margin: 10px;
    font-family: fantasy;
    font-size: 38px;
    float:left;
    cursor: pointer;
}

.menu input {
    margin: 10px;
    background: rgb(60, 59, 59);    
    border-radius:0 28px 28px 0;
    height: 24px;
    width: 50%;
    font-size: 34px;
    padding: 8px;
    display: inline-block;
    left:50px;
    animation: rozwijanie 2s ease;
    z-index: 3;
    color:white;
}
.menu input:focus {
    background: rgb(75, 75, 75);
    box-shadow: none;
    outline: 0;
}
.wyszukaj button {
    background: none;
    border: 0;
    font-size: 29px;
    border-radius: 28px;
    cursor: pointer;
    margin: 10px;
    position: absolute;
    left:8px;
    background-color: rgb(60, 59, 59);
}

    .aktywnalupa {
        border-radius: 28px 0 0 28px !important;
    }
    
    #lupka {
        border-radius: 28px;
    }
    .menu input {
        display: none;
        width: 70%;
    }
    @keyframes rozwijanie {
        0% {
            width: 0;
        }
        100% {
            width: 70%;
        }
    }

    .menu h1 {
        display: none !important;
    }

    @keyframes pokazmenu {
        0%{ 
            top:-100%;
        }
        100% { 
            top:0;
        }
    }


    .powiadomienia {
        position:fixed;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        z-index: 48;
        text-align: center;
        left:1%;
    }

    /* dymki */

.powiadomienia {
    position: fixed;
    width: 95%;
    height: 84%;
    left:0;
    background-color: rgb(14, 14, 13);
    border-radius: 28px;
    box-shadow: 0 0 1px green;
    top:0;
    animation: 2s powiad ease;
    padding:8px;
    display: none;

}
.powiadomienia h2 {
    font-size: 30px;
    color: #12ffb0;;
    border-bottom:1px dotted white;

}
.powiadomienia h2 button {
    position: absolute;
    right:10px;
    top:-4px;
    background-color: rgba(0, 0, 0, 0);
    color:white;
    border:0;
    font-size: 30px;
    cursor: pointer;
}



}




.powiadomienia h2 button:hover {
    color: yellow;
}
@keyframes powiad {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    
}




/*dymki */

.powiad {
    text-align: center;
    font-size:28px;
    margin-top:24px;
    text-align: start;
    overflow-y: auto;
    overflow-x: hidden;
}

.wszystkie {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
    font-size: 26px;
    color:blue;
}
.wszystkie:hover {
    color:white;
}

.powiad_load {
    background-color: rgb(79, 78, 78) !important;
}
.powiadomienie {
    width: 100%;
    cursor:pointer;
    border-radius:8px;
    font-size: 40px;
    margin-top:10px;
    padding: 4px;
    animation: powiad_loaduj 4s linear infinite;
    height: 68px; /*add*/
}

@keyframes powiad_loaduj {
    0%,100%{
        opacity: 0.1;
    }
    50% {
        opacity: 1;
    }
}
.powiad {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom:88px;
}

.powiad_imie {
    font-size: 18px !important;
}

.powiadomienia img {
    float:left;
    border-radius:48px;
    width: 64px;
    height: 64px;
    box-shadow: 0 0 2px black;
    margin:auto 12px auto 4px;
}
.powiadomienie:hover{
    background-color: rgb(40, 38, 38);
}

.ladowanie_prof {
    width: 64px;
    height: 64px;
    background:rgb(54, 53, 53);
    border-radius: 48px;
    float:left;
}



.licznik_menu {
    position: absolute;
    background-color: blue;
    border-radius: 48px;
    right: 0;
    margin-top: -60px;
    z-index: 28;
    text-align: center;
    font-size: 24px;
    height: min-content;
    min-width: 32px;
    text-shadow: 0 0 2px black;
    box-shadow: -3px -3px 5px rgb(3, 24, 245), 3px 3px 10px blue, 0px 0px 10px blue;
    color:white;
}






@media screen and (min-width: 943px) {


    .telefon {
        display: none !important;
    }
    .komputer {
        display: block !important;
    }
.menu {
    position: fixed;
    min-height: 100%;
    background-color: transparent;
    padding: 8px;
    width: 20%;
    overflow: auto;
    animation: 1s pokazmenu ease;
}

.menu h1 {
    text-align: center;
    font-family: cursive;
    margin-top: 18px;
    font-size: 48px;
    color: #09dbac;
    text-shadow: 2px 2px 3px #030bff;
    cursor: pointer;
}


.menu input {
    background-color: rgb(22, 21, 21);
    height: 38px;
    width: 73%;
    margin:12px auto 8px auto;
    box-shadow: 0 0 1px silver;
    border-radius: 8px;
    font-size: 24px;
    color:white;
}
.menu input:focus {
    border:0;
    outline: 0;
    background-color: rgb(28, 28, 28);
}

.menu button {
    background-color: rgb(22, 21, 21);
    height: 40px;
    width: 40px;
    border: 0;
    box-shadow: 0 0 1px silver;
    border-radius: 8px;
    top:-3px;
    cursor: pointer;
}

.wyszukaj {
    height: 0;
    margin:4%;
}
#lupka {
    position: absolute;
    top:-14px;
    margin-left:4px;
}

 .menu_opcje button {
    width: 100%;
    height: auto;
    min-height:64px;
    background: none;
    color:white;
    margin-top:10px;
    border-radius: 8px;
    font-size: 28px;
    padding: 8px;
    cursor: pointer;
    border:0;
    font-family: cursive;
    text-align:left;
}

.menu button:hover {
    background-color: rgb(68, 68, 68);
}







@keyframes pokazmenu {
    0% {
        left:-100%;
    }
    100% {
        left:0;
    }

}


.aktywny_przycisk {
    box-shadow:0 0 4px yellow !important;
    background: rgb(1, 10, 39) !important;
}
#aktywny_przycisk {
    box-shadow:0 0 4px yellow !important;
    background: rgb(1, 10, 39) !important;
}


/* menu */
/* dymki */

.powiadomienia {
    position: fixed;
    width: 30%;
    min-height: 300px;
    max-height: 100%;
    left:22%;
    background-color: rgb(14, 14, 13);
    border-radius: 28px;
    box-shadow: 0 0 1px green;
    top:2%;
    animation: 2s powiad ease;
    padding:8px;
    display: none;
}
.powiadomienia h2 {
    font-size: 30px;
    color: #12ffb0;;
    border-bottom:1px dotted white;

}
.powiadomienia h2 button {
    position: absolute;
    right:10px;
    top:-4px;
    background-color: rgba(0, 0, 0, 0);
    color:white;
    border:0;
    font-size: 30px;
    cursor: pointer;
}

.powiadomienia h2 button:hover {
    color: yellow;
}
@keyframes powiad {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    
}




/*dymki */

.powiad {
    text-align: center;
    font-size:28px;
    margin-top:24px;
    text-align: start;
    overflow-y: auto;
    overflow-x: hidden;
}

.wszystkie {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
    font-size: 28px;
    color:blue;
}
.wszystkie:hover {
    color:white;
}

.powiad_load {
    background-color: rgb(79, 78, 78) !important;
}
.powiadomienie {
    width: 100%;
    cursor:pointer;
    border-radius:8px;
    font-size: 40px;
    margin-top:10px;
    padding: 4px;
    animation: powiad_loaduj 4s linear infinite;
}

@keyframes powiad_loaduj {
    0%,100%{
        opacity: 0.1;
    }
    50% {
        opacity: 1;
    }
}
.powiad {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom:88px;
}

.powiad_imie {
    font-size: 18px !important;
}

.powiadomienia img {
    float:left;
    border-radius:48px;
    width: 64px;
    height: 64px;
    box-shadow: 0 0 2px black;
    margin:auto 12px auto 4px;
}
.powiadomienie:hover{
    background-color: rgb(40, 38, 38);
}

.ladowanie_prof {
    width: 64px;
    height: 64px;
    background:rgb(54, 53, 53);
    border-radius: 48px;
    float:left;
}



.licznik_menu {
    position: absolute;
    background-color: blue;
    border-radius: 48px;
    right: 0;
    margin-top: -60px;
    z-index: 28;
    text-align: center;
    font-size: 24px;
    height: min-content;
    min-width: 32px;
    text-shadow: 0 0 2px black;
    box-shadow: -3px -3px 5px rgb(3, 24, 245), 3px 3px 10px blue, 0px 0px 10px blue;
}


}




/* */

.wiadomosci_ikonka {
    position: absolute;
    left:20%;
    font-size: 50px;
    top:-12px;
    border-radius: 28px;
    background-color: rgba(0, 94, 255, 0);
    border:none;
    cursor:pointer;
}



#nowa_akcja {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.862);
    top:0;
    left:0;
    z-index: 288;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: hidden;
}
/*
#nowa_akcja::-webkit-scrollbar {
    background: transparent;
}
#nowa_akcja::-webkit-scrollbar-thumb {
    background-color: rgb(30, 30, 30);
    border-radius:28px;
    cursor: pointer;
    box-shadow: 0 0 3px silver;
}
#nowa_akcja::-webkit-scrollbar-thumb:hover {
    background-color: silver;
}*/
.nowy_post {
    position: relative;
    background: rgb(34, 33, 33);
    border-radius: 28px;
    text-align: center;
    padding: 8px;
    font-size: 40px;
    width: 95%;
}
.zamknij {
    position: absolute;
    right: 0;
    top:0;
    background-color: rgb(56, 55, 55);
    border:0;
    font-size: 28px;
    border-radius: 48px;
    cursor: pointer;
    margin: 4px;
    width: 40px;
    height: 40px;
}
.zamknij:hover {
    color:red;
}
.nowy_post textarea {
    width: 95%;
    margin:10px;
    border-radius: 8px;
    font-size: 28px;
    background-color: transparent;
    color:white;
    border:0;
    box-shadow: 0 0 1px black;
    resize: none;
}
.nowy_post textarea:focus {
    border:0;
    outline: 0;
    box-shadow: 0 0 3px black;
}
.nowy_post textarea::-webkit-scrollbar {
    background-color: transparent;
    width: 15px;
}
.nowy_post textarea::-webkit-scrollbar-thumb {
    background-color: silver;
    border-radius: 28px;
    border:2px black solid;
}
.nowy_post textarea::-webkit-scrollbar-track {
    cursor: pointer;
}

.nowy_post textarea::-webkit-scrollbar-thumb:hover {
    background-color: yellow;
}

#opublikuj {
    width: 95%;
    background-color: blue;
    height: 48px;
    border-radius: 28px;
    font-size: 28px;
    color:white;
    border:0;
    box-shadow: 0 0 2px silver;
    cursor: pointer;
    margin:20px 0;
}
#opublikuj:hover {
    background-color: green;
}


@media screen and (min-width: 943px) {
    .nowy_post {
        width: 55% !important;
    }
}

select {
    background-color: rgb(43, 42, 42);
    color:white;
    text-align: left;
    margin: 10px;
    top:28px;
    position: absolute;
    font-size: 20px;
    border-radius: 8px;
    z-index: 248;
    cursor: pointer;

}
option {
    cursor: pointer;
}
.moje_informacje_post {
    text-align: left;
    margin: 10px;
}
.ladowanie_imie_post {
    width: 40%;
    height: 28px;
    background: rgb(54, 53, 53);
    position: relative;
    left:68px;
    border-radius: 8px;
    animation: powiad_loaduj 4s linear infinite;
}

.dodaj_do_posta {
    box-shadow: 0 0 1px silver;
    padding: 12px;
    text-align: left;
    border-radius: 8px;
    margin:16px;
    min-height: 48px;
}

.dodaj_do_posta_opcje {
    text-align: right;
    position: absolute;
    right: 20px;
    top:0;
}

.dodaj_do_posta_opcje div {
    cursor: pointer;
    float:left;
    margin-left:20px;
}
.dodaj_do_posta_opcje div:hover {
opacity: 0.4;
}

@media  screen and (max-width:554px){
    .dodaj_do_posta div {
        position: relative;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .dodaj_do_post {
        display: none !important;
    }


}

#podglad_zdjec {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#podglad_zdjec img {
    height: 200px;
    width: 200px;
    margin:10px;
    border-radius:8px;
}
#podglad_zdjec img:hover {
    opacity:0.8;
}